
  

  body {
    font-family: Arial, sans-serif;
    background-color: #c1c1c1;
  }
  

  .cv-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: #666;
  }
  
  header {
    text-align: center;
  }
  
  header h1 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
  }
  
  header p {
    font-size: 16px;
    color: #666;
  }
  
  header img {
    border-radius: 50%;
  }

  main {
    margin-top: 20px;
  }
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    font-size: 20px;
    color: #333;
  }
  
  section p {
    font-size: 16px;
    color: #666;
    text-indent: 50px;
  }
  

  .footer-image {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-image img {
    max-width: 100%;
  }
  
